<div style="clear: both;"/>
<footer class="site-footer">
    &copy 2024 <a href="https://github.com/peetekeesel/clem-log/tree/gh-pages" target="_blank"><u>clem's log</u></a> | <a href="{{ '/tags.html' | relative_url }}">Tags</a> | <a href="{{ '/contact.html' | relative_url }}">Contact</a>

    <!-- <p>
        <a href="{{ site.baseurl }}/feed.xml" target="_blank">
            <img src="{{ '/assets/images/logo_rss.png' | relative_url }}" />
        </a>
        <a href="https://github.com/peetekeesel" target="_blank">
            <img src="{{ '/assets/images/logo_github.png' | relative_url }}" />
        </a>
    </p> -->
</footer>
